<html>
  <head>
  	<title>My Awesome website</title>
  </head>
  <body>
 	<div>
 		<p>Login</p>
 		<form class="new_user" id="new_user" action="/login" accept-charset="UTF-8" method="post">
  		<p>
    		<input placeholder="Username" autofocus="autofocus" type="text" name="username" id="username">
  		</p>
  		<p>
  			<input type="submit" name="commit" value="Sign in" class="submit">
  		</p>
  		</form>
	</div>	
  	<div> <a href="/">Return to home</a> </div>
  </body>
</html>